openapi: 3.0.0
info:
  title: Netography (Vectra Fusion) Analytics Traffic Sources - DNS Devices API
  version: '1.0'
  description: Netography Fusion (now Vectra Fusion) REST API. Harvested from the provider's public API reference (docs.fusion.vectra.ai, formerly docs.netography.com).
  x-apievangelist-source: https://docs.fusion.vectra.ai/api-reference (formerly docs.netography.com); harvested from embedded OpenAPI blocks
  x-apievangelist-method: searched
  x-apievangelist-generated: '2026-07-20'
servers:
- url: https://api.netography.com
  description: Netography API
tags:
- name: Traffic Sources - DNS Devices
paths:
  /api/v1/dns-devices:
    get:
      operationId: v1_dns_devices_get
      summary: Get All DNS Devices
      description: Returns a list of all DNS devices.
      tags:
      - Traffic Sources - DNS Devices
      responses:
        '200':
          description: List of Requested DNS Devices
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    type: array
                    items:
                      allOf:
                      - type: object
                        description: Response schema for a single DNS device.
                        properties:
                          id:
                            type: string
                            description: Unique identifier for the DNS device.
                          name:
                            type: string
                            description: Name of the DNS device.
                          type:
                            type: string
                            description: Type of the DNS device.
                          site:
                            type: string
                            description: Site location of the DNS device.
                          enabled:
                            type: boolean
                            description: Whether the DNS device is enabled.
                        required:
                        - id
                        - name
                        - type
                        - site
                        - enabled
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
    post:
      operationId: v1_dns_devices_post
      summary: Add DNS Device
      description: Adds a new DNS device.
      tags:
      - Traffic Sources - DNS Devices
      requestBody:
        description: DNS device to be added.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - site
              - enabled
              properties:
                name:
                  type: string
                  description: Name of the DNS device.
                type:
                  type: string
                  description: Type of the DNS device.
                site:
                  type: string
                  description: Site location of the DNS device.
                enabled:
                  type: boolean
                  description: Whether the DNS device is enabled.
      responses:
        '201':
          description: Requested DNS Device
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    allOf:
                    - type: object
                      description: Response schema for a single DNS device.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the DNS device.
                        name:
                          type: string
                          description: Name of the DNS device.
                        type:
                          type: string
                          description: Type of the DNS device.
                        site:
                          type: string
                          description: Site location of the DNS device.
                        enabled:
                          type: boolean
                          description: Whether the DNS device is enabled.
                      required:
                      - id
                      - name
                      - type
                      - site
                      - enabled
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/dns-devices/{id}:
    get:
      operationId: v1_dns_device_id_get
      summary: Get DNS Device By ID
      description: Fetches a specific DNS device by ID.
      tags:
      - Traffic Sources - DNS Devices
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the DNS device to fetch.
        schema:
          type: string
      responses:
        '200':
          description: Requested DNS Device
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    allOf:
                    - type: object
                      description: Response schema for a single DNS device.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the DNS device.
                        name:
                          type: string
                          description: Name of the DNS device.
                        type:
                          type: string
                          description: Type of the DNS device.
                        site:
                          type: string
                          description: Site location of the DNS device.
                        enabled:
                          type: boolean
                          description: Whether the DNS device is enabled.
                      required:
                      - id
                      - name
                      - type
                      - site
                      - enabled
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
    put:
      operationId: v1_dns_device_id_put
      summary: Update DNS Device By ID
      description: Updates a DNS device by ID.
      tags:
      - Traffic Sources - DNS Devices
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the DNS device to update.
        schema:
          type: string
      requestBody:
        description: DNS device to be updated.
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - type
              - site
              - enabled
              properties:
                name:
                  type: string
                  description: Name of the DNS device.
                type:
                  type: string
                  description: Type of the DNS device.
                site:
                  type: string
                  description: Site location of the DNS device.
                enabled:
                  type: boolean
                  description: Whether the DNS device is enabled.
      responses:
        '200':
          description: Requested DNS Device
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    allOf:
                    - type: object
                      description: Response schema for a single DNS device.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the DNS device.
                        name:
                          type: string
                          description: Name of the DNS device.
                        type:
                          type: string
                          description: Type of the DNS device.
                        site:
                          type: string
                          description: Site location of the DNS device.
                        enabled:
                          type: boolean
                          description: Whether the DNS device is enabled.
                      required:
                      - id
                      - name
                      - type
                      - site
                      - enabled
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
    delete:
      operationId: v1_dns_device_id_delete
      summary: Delete DNS Device By ID
      description: Deletes a DNS device by ID.
      tags:
      - Traffic Sources - DNS Devices
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the DNS device to delete.
        schema:
          type: string
      responses:
        '204':
          description: An empty response.
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/dns-devices/bulkdelete:
    put:
      operationId: v1_dns_devices_bulkdelete_put
      summary: Bulk Delete DNS Devices
      description: Deletes multiple DNS devices in bulk.
      tags:
      - Traffic Sources - DNS Devices
      requestBody:
        description: List of DNS device IDs to delete.
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '204':
          description: An empty response.
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/dns-devices/{id}/enable:
    put:
      operationId: v1_dns_device_id_enable_put
      summary: Enable DNS Device By ID
      description: Enables a DNS device by ID.
      tags:
      - Traffic Sources - DNS Devices
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the DNS device to enable.
        schema:
          type: string
      responses:
        '200':
          description: Requested DNS Device
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    allOf:
                    - type: object
                      description: Response schema for a single DNS device.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the DNS device.
                        name:
                          type: string
                          description: Name of the DNS device.
                        type:
                          type: string
                          description: Type of the DNS device.
                        site:
                          type: string
                          description: Site location of the DNS device.
                        enabled:
                          type: boolean
                          description: Whether the DNS device is enabled.
                      required:
                      - id
                      - name
                      - type
                      - site
                      - enabled
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/dns-devices/{id}/disable:
    put:
      operationId: v1_dns_device_id_disable_put
      summary: Disable DNS Device By ID
      description: Disables a DNS device by ID.
      tags:
      - Traffic Sources - DNS Devices
      parameters:
      - name: id
        in: path
        required: true
        description: The ID of the DNS device to disable.
        schema:
          type: string
      responses:
        '200':
          description: Requested DNS Device
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    allOf:
                    - type: object
                      description: Response schema for a single DNS device.
                      properties:
                        id:
                          type: string
                          description: Unique identifier for the DNS device.
                        name:
                          type: string
                          description: Name of the DNS device.
                        type:
                          type: string
                          description: Type of the DNS device.
                        site:
                          type: string
                          description: Site location of the DNS device.
                        enabled:
                          type: boolean
                          description: Whether the DNS device is enabled.
                      required:
                      - id
                      - name
                      - type
                      - site
                      - enabled
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
