openapi: 3.0.0
info:
  title: Netography (Vectra Fusion) Analytics Settings - Security API
  version: '1.0'
  description: Netography Fusion (now Vectra Fusion) REST API. Harvested from the provider's public API reference (docs.fusion.vectra.ai, formerly docs.netography.com).
  x-apievangelist-source: https://docs.fusion.vectra.ai/api-reference (formerly docs.netography.com); harvested from embedded OpenAPI blocks
  x-apievangelist-method: searched
  x-apievangelist-generated: '2026-07-20'
servers:
- url: https://api.netography.com
  description: Netography API
tags:
- name: Settings - Security
paths:
  /api/v1/customer/access-allowed-ips:
    get:
      operationId: v1_customer_access_allowed_ips
      summary: Get Allowed IPs
      description: Fetches the IPs from KeyCloak that are allowed to access Fusion
      tags:
      - Settings - Security
      responses:
        '200':
          description: Access Allowed IP List from KeyCloak
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
    put:
      operationId: v1_customer_access_allowed_ips_put
      summary: Update Allowed IPs
      description: Updates the IPs within KeyCloak that are allowed to access Fusion
      tags:
      - Settings - Security
      requestBody:
        description: Array of IPs to be updated within KeyCloak
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
      responses:
        '201':
          description: Access Allowed IP List from KeyCloak
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
