openapi: 3.0.0
info:
  title: Netography (Vectra Fusion) Analytics Configuration API
  version: '1.0'
  description: Netography Fusion (now Vectra Fusion) REST API. Harvested from the provider's public API reference (docs.fusion.vectra.ai, formerly docs.netography.com).
  x-apievangelist-source: https://docs.fusion.vectra.ai/api-reference (formerly docs.netography.com); harvested from embedded OpenAPI blocks
  x-apievangelist-method: searched
  x-apievangelist-generated: '2026-07-20'
servers:
- url: https://api.netography.com
  description: Netography API
tags:
- name: Configuration
paths:
  /api/v1/integrations/aws/role:
    get:
      operationId: v1_integrations_aws_role_get
      summary: Netography AWS Custom Trust Policy
      description: "Information relating to configuring AWS Role based authentication.  \nProvides Netography's Account Id, sts:ExternalId and an example usage in a custom trust policy.\nRole based AWS authentication can be used in Flow Sources and Context Integrations.\n"
      tags:
      - Configuration
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    type: object
                    additionalProperties: false
                    properties:
                      netography_aws_acountid:
                        type: string
                        readOnly: true
                        description: Netography's AWS Account ID
                      externalid:
                        type: string
                        description: Netography-issued External ID (<code>sts:ExternalId</code>) for AWS role creation
                      aws_trust_policy_example:
                        type: string
                        description: Example AWS trust policy
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
