openapi: 3.0.0
info:
  title: Netography (Vectra Fusion) API
  version: '1.0'
  description: Netography Fusion (now Vectra Fusion) REST API. Harvested from the provider's public API
    reference (docs.fusion.vectra.ai, formerly docs.netography.com).
  x-apievangelist-source: https://docs.fusion.vectra.ai/api-reference (formerly docs.netography.com);
    harvested from embedded OpenAPI blocks
  x-apievangelist-method: searched
  x-apievangelist-generated: '2026-07-20'
servers:
- url: https://api.netography.com
  description: Netography API
tags:
- name: API Keys
- name: Analytics
- name: Authentication
- name: Auto Thresholds
- name: Block List
- name: Configuration
- name: Detect and Respond - Context Creation Models
- name: Detect and Respond - Detection Categories
- name: Detect and Respond - Response Policies
- name: Detect and Respond - Threshold Overrides
- name: Detect and Respond - Traffic Detection Models
- name: Integrations - Context
- name: Integrations - Response
- name: Intelligence
- name: Labels - IPs
- name: Labels - Ports
- name: MITRE ATT&CK
- name: Raw Records - Fetch
- name: Raw Records - Search
- name: Resellers
- name: Roles
- name: Settings - Security
- name: Settings - Traffic Classification
- name: Tags
- name: Traffic Sources - DNS Devices
- name: Traffic Sources - Devices
- name: Traffic Sources - VPCs
- name: Users
paths:
  /api/v1/auth/token:
    post:
      operationId: v1_auth_token_post
      tags:
      - Authentication
      requestBody:
        required: true
        description: A JSON request body with the key `jwt`.
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                jwt:
                  type: string
                  description: A JWT token encoded using your Accounts API Key Shared Secret.
              required:
              - jwt
      summary: via API Key
      description: "To authenticate to the API, a JWT request token is encoded and sent as the `jwt` param\
        \ in a `POST` to `/auth/token`.  The `access_token` in the response is the JWT bearer token that\
        \ is included as the `Authorization` value in the `Header` of all subsequent API calls.\n\nIf\
        \ you do not have the 4 fields below available, see [Create a Netography API Key](ref:create-a-netography-api-key).\n\
        \n## Generating a JWT request token in code\n\n[block:tutorial-tile]\n{\n  \"backgroundColor\"\
        : \"#018FF4\",\n  \"emoji\": \"\U0001F989\",\n  \"id\": \"657c52c3a5434c00493811e0\",\n  \"link\"\
        : \"https://docs.netography.com/v1.0/recipes/create-a-jwt-request-token\",\n  \"slug\": \"create-a-jwt-request-token\"\
        ,\n  \"title\": \"Create a JWT request token\"\n}\n[/block]\n\n\n## Generating a JWT request token\
        \ in browser\n\nTo use API via the API reference pages here, you can create a JWT request token\
        \ here, and then copy it to the _jwt_ params field below.\n\n[block:embed]\n{\n  \"html\": false,\n\
        \  \"url\": \"https://jsfiddle.net/netography/rex57sb6/12/embedded/result,js,html\",\n  \"provider\"\
        : \"jsfiddle.net\",\n  \"href\": \"https://jsfiddle.net/netography/rex57sb6/12/embedded/result,js,html\"\
        ,\n  \"typeOfEmbed\": \"iframe\",\n  \"height\": \"400px\",\n  \"width\": \"100%\",\n  \"iframe\"\
        : true\n}\n[/block]\n\n\n> ↕️ Copy and Paste the JWT request token string\n> \n> To authenticate\
        \ to the API on this page, you need to copy the token string from the _JWT Request Token_ field\
        \ directly above, and paste it into the _jwt_ field directly below.\n"
      responses:
        '200':
          description: A JSON object which contains the `access_token` to use in all subsequent calls
            to the API
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  access_token:
                    type: string
                    description: Access Token (JWT)
                    readOnly: true
                  expires_in:
                    type: integer
                    description: Seconds until the Access Token expires
                    readOnly: true
                  refresh_expires_in:
                    type: integer
                    description: Seconds until the Refresh Token expires
                    readOnly: true
                  refresh_token:
                    type: string
                    description: Refresh Token (JWT)
                    readOnly: true
                  token_type:
                    type: string
                    description: Type of JWT token.  Will always be "bearer"
                    readOnly: true
                  id_token:
                    type: string
                    description: ID Token (JWT)
                    readOnly: true
                  not-before-policy:
                    type: integer
                    description: Seconds until the Token will be considered valid.  Will always be 0 (now).
                    readOnly: true
                  session-state:
                    type: string
                    description: Unique Session ID
                    readOnly: true
                  scope:
                    type: string
                    description: Application Scopes
                    readOnly: true
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/auth/bearer/token:
    post:
      operationId: auth_bearer_token_post
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                username:
                  type: string
                password:
                  type: string
                  format: password
              required:
              - username
              - password
      summary: via User Credentials
      description: Obtain an `access_token` via User Credentials
      responses:
        '200':
          description: A JSON object which contains the `access_token` to use in all subsequent calls
            to the API
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  access_token:
                    type: string
                    description: Access Token (JWT)
                    readOnly: true
                  expires_in:
                    type: integer
                    description: Seconds until the Access Token expires
                    readOnly: true
                  refresh_expires_in:
                    type: integer
                    description: Seconds until the Refresh Token expires
                    readOnly: true
                  refresh_token:
                    type: string
                    description: Refresh Token (JWT)
                    readOnly: true
                  token_type:
                    type: string
                    description: Type of JWT token.  Will always be "bearer"
                    readOnly: true
                  id_token:
                    type: string
                    description: ID Token (JWT)
                    readOnly: true
                  not-before-policy:
                    type: integer
                    description: Seconds until the Token will be considered valid.  Will always be 0 (now).
                    readOnly: true
                  session-state:
                    type: string
                    description: Unique Session ID
                    readOnly: true
                  scope:
                    type: string
                    description: Application Scopes
                    readOnly: true
        '401':
          description: Missing or invalid credentials
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/auth/bearer/refresh:
    post:
      operationId: auth_bearer_refresh_post
      tags:
      - Authentication
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              additionalProperties: false
              properties:
                refresh_token:
                  type: string
              required:
              - refresh_token
      summary: via Refresh Token
      description: Obtain a new `access_token` via a `refresh_token`
      responses:
        '200':
          description: A JSON object which contains the `access_token` to use in all subsequent calls
            to the API
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  access_token:
                    type: string
                    description: Access Token (JWT)
                    readOnly: true
                  expires_in:
                    type: integer
                    description: Seconds until the Access Token expires
                    readOnly: true
                  refresh_expires_in:
                    type: integer
                    description: Seconds until the Refresh Token expires
                    readOnly: true
                  refresh_token:
                    type: string
                    description: Refresh Token (JWT)
                    readOnly: true
                  token_type:
                    type: string
                    description: Type of JWT token.  Will always be "bearer"
                    readOnly: true
                  id_token:
                    type: string
                    description: ID Token (JWT)
                    readOnly: true
                  not-before-policy:
                    type: integer
                    description: Seconds until the Token will be considered valid.  Will always be 0 (now).
                    readOnly: true
                  session-state:
                    type: string
                    description: Unique Session ID
                    readOnly: true
                  scope:
                    type: string
                    description: Application Scopes
                    readOnly: true
        '400':
          description: Wrong or expired refresh token, or user/api-key removed
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/stats/{context}/fields:
    get:
      operationId: v1_stats_context_fields_get
      tags:
      - Analytics
      summary: Fields
      description: Values that can be used for the <code>field</code> parameter in subsequent API calls
      parameters:
      - name: context
        in: path
        description: Context of the Fields Request
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      responses:
        '200':
          description: An object which contains response metadata information and a data array of Fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: An array of the Fields.
                    type: array
                    maxItems: 1000
                    items:
                      additionalProperties: false
                      properties:
                        field:
                          description: Field name
                          type: string
                          readOnly: true
                        type:
                          description: value type.  e.g. string, integer, float, Array of strings, boolean
                          type: string
                          readOnly: true
                        description:
                          description: Human readable description of the field
                          type: integer
                          readOnly: true
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are
            not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/stats/{context}/aliases:
    get:
      operationId: v1_stats_context_aliases_get
      tags:
      - Analytics
      summary: Aliases
      description: "Values that can be used for the <code>field</code> parameter in subsequent search\
        \ API calls.  \nAliases are shortcuts for searching multiple fields of a similar nomenclature.\
        \  \nExamples:\n  * <code>ip == 8.8.8.8</code> will be interpolated to create a search of <code>(dstip\
        \ = 8.8.8.8 or srcip = 8.8.8.8)</code>\n  * <code>ipname == myipname</code> will create a search\
        \ of <code>(dstipname = myipname or srcipname = myipname)</code>\n  * <code>as.number</code> will\
        \ search the fields <code>dstas.number, dstowneras.number, srcas.number, and srcowneras.number</code>"
      parameters:
      - name: context
        in: path
        description: Context of the Fields Request, e.g. flow
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      responses:
        '200':
          description: An object which contains response metadata information and a data array of Fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: An array of the Fields.
                    type: array
                    maxItems: 1000
                    items:
                      additionalProperties: false
                      properties:
                        field:
                          description: Field name
                          type: string
                          readOnly: true
                        type:
                          description: value type.  e.g. string, integer, float, Array of strings, boolean
                          type: string
                          readOnly: true
                        description:
                          description: Human readable description of the field
                          type: integer
                          readOnly: true
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are
            not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/stats/{context}/metrics:
    get:
      operationId: v1_stats_context_metrics_get
      tags:
      - Analytics
      summary: Metrics
      description: Values that can be used for the <code>metric</code> parameter in subsequent search
        API calls
      parameters:
      - name: context
        in: path
        description: Context of the Metrics Request
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      responses:
        '200':
          description: An object which contains response metadata information and a data array of Fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: An array of the Fields.
                    type: array
                    maxItems: 1000
                    items:
                      additionalProperties: false
                      properties:
                        field:
                          description: Field name
                          type: string
                          readOnly: true
                        type:
                          description: value type.  e.g. string, integer, float, Array of strings, boolean
                          type: string
                          readOnly: true
                        description:
                          description: Human readable description of the field
                          type: integer
                          readOnly: true
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are
            not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/stats/{context}/ts:
    post:
      operationId: v1_stats_context_ts_post
      tags:
      - Analytics
      summary: Time Series
      description: Request data as a time series. This is used for charts and graphs.
      parameters:
      - name: context
        in: path
        description: Data category or event type to query (e.g., alerts, audit logs, blocked traffic,
          network flows, DNS queries)
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      requestBody:
        description: JSON structure for a timeseries request
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start
              - end
              - series
              additionalProperties: false
              properties:
                start:
                  type: integer
                  description: Start time for this time series. Negative for lookback (Eg. -3600 for 1
                    hour ago) or timestamp in milliseconds.
                end:
                  type: integer
                  description: End time for this time series. Negative for lookback (Eg. -3600 for 1 hour
                    ago), 0 for NOW or timestamp in milliseconds.
                format:
                  title: format
                  description: Series data can be provided in a variety of formats which are native to
                    some charting libraries. e.g. amcharts or highcharts
                  type: string
                  default: highcharts
                  enum:
                  - amcharts
                  - d3
                  - highcharts
                  - png
                series:
                  type: array
                  maxItems: 25
                  description: List of series to aggregate on. Each series must have a unique name.
                  items:
                    type: object
                    description: Configuration for a time series data query that defines how to aggregate
                      and analyze network traffic data over time. Each series specifies the metric to
                      measure, fields to group by, time intervals, and filtering criteria to generate
                      meaningful analytics insights.
                    required:
                    - name
                    - metric
                    - size
                    - field
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                        description: Series name.  All series in a query must have a unique name.  This
                          is how you will locate them in the response.
                      field:
                        type: array
                        items:
                          type: string
                        description: Field name(s) to aggregate (split) on.  See <a href="#fields">Analytics
                          > Fields</a> for more information.
                        maxItems: 7
                      field_separator:
                        type: string
                        default: .
                        description: when multiple fields are provided in the request, the separator is
                          used to join the two fields in the `label` and `name` keys in the response
                      interval:
                        type: integer
                        description: Time interval to group the data.  If not provided the interval will
                          be calculated based on start/end times.  The greater the window the larger the
                          interval.
                      ipagg:
                        type: object
                        required:
                        - cidr
                        - field
                        additionalProperties: false
                        properties:
                          cidr:
                            type: integer
                            description: CIDR to aggregate on.  8, 16, 32
                          field:
                            type: string
                            description: Field to aggregate the CIDR on. For flow and block valid fields
                              are `srcip` and `dstip`. For alert the valid field is `ipinfo.ip`
                      metric:
                        type: string
                        description: metric to aggregate on.  See <a href='#metrics'>Metrics</a> for available
                          values.
                      search:
                        type: array
                        maxItems: 1
                        description: A NQL search filter for constraining the dataset.
                        items:
                          type: string
                      size:
                        type: integer
                        minimum: 1
                        maximum: 10000
                        description: The "Top N" number of series to limit this query to.  Not required
                          for cardinality.
                        format: int32
                      sort:
                        type: string
                        description: Buckets returned ascending (asc) or descending (desc).
                        default: asc
      responses:
        '200':
          description: An object which contains response metadata information and a data object containing
            the Time Series array.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: An array of arrays.  The outer array is per series requested, the inner
                      is the Data Series Points for that series.
                    type: array
                    maxItems: 1000
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        data:
                          type: array
                          maxItems: 1000
                          items:
                            description: Series data formatted per the <code>format</code> parameter
                            anyOf:
                            - type: object
                              description: <em>default</em> series format
                              additionalProperties: false
                              properties:
                                key:
                                  type: string
                                  description: value of the <code>field</code> property in the request
                                value:
                                  description: data point value
                            - type: object
                              description: <b>amcharts</b> series format
                              additionalProperties: false
                              properties:
                                date:
                                  type: integer
                                  description: Unix Timestamp in milliseconds.
                                field1:
                                  description: data point value
                            - type: array
                              description: <b>d3</b> series format
                              items:
                                type: integer
                              minItems: 2
                              maxItems: 2
                            - type: array
                              description: <b>highcharts</b> series format [ unix timestamp (ms), value
                                ]
                              items:
                                type: integer
                              minItems: 2
                              maxItems: 2
                            - type: object
                              description: <b>png</b> series format
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                                  description: value of the <code>field</code> property in the request
                                buckets:
                                  type: array
                                  maxItems: 1000
                                  items:
                                    type: object
                                  description: array of the raw data in the image, in the <em>default</em>
                                    format
                                img:
                                  type: string
                                  description: base64 encoded png image
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are
            not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/stats/{context}/agg:
    post:
      operationId: v1_stats_context_agg_post
      tags:
      - Analytics
      summary: Aggregations
      description: Get summarized statistics by aggregating data for the specified context over a given
        time range. Returns computed metrics like counts, sums, averages, etc. rather than individual
        events.
      parameters:
      - name: context
        in: path
        description: Data category or event type to query (e.g., alerts, audit logs, blocked traffic,
          network flows, DNS queries)
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      requestBody:
        description: JSON structure for an aggregation request
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start
              - end
              - series
              additionalProperties: false
              properties:
                start:
                  description: Start time for this time series. Negative for lookback (Eg. -3600 for 1
                    hour ago) or timestamp in milliseconds.
                  type: integer
                end:
                  description: End time for this time series. Negative for lookback (Eg. -3600 for 1 hour
                    ago), 0 for NOW or timestamp in milliseconds.
                  type: integer
                format:
                  title: format
                  description: Series data can be provided in a variety of formats which are native to
                    some charting libraries. e.g. amcharts or highcharts
                  type: string
                  default: highcharts
                  enum:
                  - amcharts
                  - d3
                  - highcharts
                  - png
                series:
                  type: array
                  maxItems: 25
                  description: List of series to aggregate on.  Each series must have a unique name.
                  items:
                    type: object
                    description: Configuration for a data aggregation series used in analytics queries.
                      Defines how to group, filter, and aggregate data with various options for fields,
                      metrics, and time intervals.
                    required:
                    - name
                    - metric
                    additionalProperties: false
                    properties:
                      name:
                        type: string
                        description: Series name.  All series in a query must have a unique name.  This
                          is how you will locate them in the response.
                      field:
                        type: array
                        items:
                          type: string
                        description: Field name(s) to aggregate (split) on.  See <a href="#fields">Analytics
                          > Fields</a> for more information.
                        maxItems: 7
                      field_separator:
                        type: string
                        default: .
                        description: when multiple fields are provided in the request, the separator is
                          used to join the two fields in the `label` and `name` keys in the response
                      interval:
                        type: integer
                        description: Time interval to group the data.  If not provided the interval will
                          be calculated based on start/end times.  The greater the window the larger the
                          interval.
                        minimum: 1
                        maximum: 2147483647
                        format: int32
                      ipagg:
                        type: object
                        description: IP aggregation configuration for grouping IP addresses by CIDR blocks.
                        required:
                        - cidr
                        - field
                        additionalProperties: false
                        properties:
                          cidr:
                            type: integer
                            description: CIDR to aggregate on.  8, 16, 32
                            minimum: 8
                            maximum: 32
                            format: int32
                          field:
                            type: string
                            description: Field to aggregate the CIDR on. For flow and block valid fields
                              are `srcip` and `dstip`. For alert the valid field is `ipinfo.ip`
                      metric:
                        type: string
                        description: metric to aggregate on.  See <a href='#metrics'>Metrics</a> for available
                          values.
                      search:
                        type: array
                        maxItems: 1
                        description: A NQL search filter for constraining the dataset. Only one search
                          is allowed for aggregation series.
                        items:
                          type: string
                          description: NQL query string for filtering data.
                      size:
                        type: integer
                        minimum: 1
                        maximum: 10000
                        description: The "Top N" number of series to limit this query to.  Not required
                          for cardinality.
                      sort:
                        type: string
                        description: Buckets returned ascending (asc) or descending (desc).
                        default: asc
                        enum:
                        - asc
                        - desc
      responses:
        '200':
          description: An object which contains response metadata information and a data object containing
            the Aggregation array.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: An array of arrays.  The outer array is per series requested, the inner
                      is the Data Series Points for that series.
                    type: array
                    maxItems: 1000
                    items:
                      type: object
                      additionalProperties: false
                      properties:
                        interval:
                          type: string
                          description: aggregation time window. e.g. 1s, 1m, 1h, 1d, 1M
                        label:
                          type: string
                          description: value of the <code>field</code> in the requested series
                        metric:
                          type: string
                          description: metric describing the data being returned.
                        name:
                          type: string
                          description: name of the series, corresponding to the <code>field</code>s provided
                            in the request
                        series:
                          type: string
                          description: name of the series, corresponding to the series name provided in
                            the request
                        data:
                          type: array
                          maxItems: 1000
                          items:
                            description: Series data formatted per the <code>format</code> parameter
                            anyOf:
                            - type: object
                              description: <em>default</em> series format
                              additionalProperties: false
                              properties:
                                key:
                                  type: string
                                  description: value of the <code>field</code> property in the request
                                value:
                                  description: data point value
                            - type: object
                              description: <b>amcharts</b> series format
                              additionalProperties: false
                              properties:
                                category:
                                  type: string
                                  description: value of the <code>field</code> property in the request
                                value:
                                  description: data point value
                            - type: object
                              description: <b>d3</b> series format
                              additionalProperties: false
                              properties:
                                field1:
                                  description: field1 is the value of the <code>field</code> property
                                    in the request and it's value is the data point value
                            - type: object
                              description: <b>highcharts</b> series format
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                                  description: value of the <code>field</code> property in the request
                                y:
                                  description: data point value
                            - type: object
                              description: <b>png</b> series format
                              additionalProperties: false
                              properties:
                                name:
                                  type: string
                                  description: value of the <code>field</code> property in the request
                                buckets:
                                  type: array
                                  maxItems: 1000
                                  items:
                                    type: object
                                  description: array of the raw data in the image, in the <em>default</em>
                                    format
                                img:
                                  type: string
                                  description: base64 encoded png image
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are
            not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/search/{context}/fields:
    get:
      operationId: v1_search_context_fields_get
      tags:
      - Raw Records - Search
      summary: Field Values
      description: Values that can be used for the <code>field</code> parameter in subsequent search API
        calls
      parameters:
      - name: context
        in: path
        description: Data category or event type to query (e.g., alerts, audit logs, blocked traffic,
          network flows, DNS queries)
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      responses:
        '200':
          description: An object which contains response metadata information and a data array of Fields.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: An array of the Fields.
                    type: array
                    maxItems: 1000
                    items:
                      additionalProperties: false
                      properties:
                        field:
                          description: Field name
                          type: string
                          readOnly: true
                        type:
                          description: value type.  e.g. string, integer, float, Array of strings, boolean
                          type: string
                          readOnly: true
                        description:
                          description: Human readable description of the field
                          type: integer
                          readOnly: true
        '400':
          description: Bad Request. Typically due to a malformatted JSON body, or parameter values are
            not validating.
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '401':
          description: Access token is missing or invalid
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        '403':
          description: Access is forbidden
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  required:
                  - status
                  - name
                  - message
                  additionalProperties: false
                  properties:
                    status:
                      description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                        \ did something dumb\n"
                      type: integer
                      readOnly: true
                      format: int32
                    name:
                      description: They type of error
                      type: string
                      readOnly: true
                    message:
                      description: description of the error
                      type: string
                      readOnly: true
                - type: object
                  properties:
                    status: {}
                    name: {}
                    message: {}
        default:
          description: Unknown Error Occurred
          content:
            application/json:
              schema:
                type: object
                required:
                - status
                - name
                - message
                additionalProperties: false
                properties:
                  status:
                    description: "API response code: \n  * 4xx - you did something dumb\n  * 5xx - we\
                      \ did something dumb\n"
                    type: integer
                    readOnly: true
                    format: int32
                  name:
                    description: They type of error
                    type: string
                    readOnly: true
                  message:
                    description: description of the error
                    type: string
                    readOnly: true
  /api/v1/search/{context}:
    post:
      operationId: v1_search_context_post
      tags:
      - Raw Records - Search
      summary: Search Records
      description: Retrieves a list of individual events or records for the specified context over a given
        time range.  This call takes advantage of the Netography Query Language via the <code>search</code>
        parameter.
      parameters:
      - name: context
        in: path
        description: Data category or event type to query (e.g., alerts, audit logs, blocked traffic,
          network flows, DNS queries)
        required: true
        schema:
          type: string
          enum:
          - alert
          - audit
          - block
          - flow
          - dns
      requestBody:
        description: Search Body
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - start
              - end
              description: Search configuration schema for querying data. This schema defines the parameters
                used to filter and retrieve records from a dataset.
              additionalProperties: false
              properties:
                start:
                  description: When the search should begin.  Timestamp or negative number of seconds
                    to look back.
                  type: integer
                end:
                  description: When the search should end.  Timestamp, 0 for now or negative number of
                    seconds to look back.
                  type: integer
                size:
                  description: Number of results to return. To avoid timeouts on large datasets, we recommend
                    setting this value.
                  type: integer
                from:
                  description: Used in pagination.  Combination of from + size
                  type: integer
                include:
                  description: Array of fields you want returned as part of the records.  Default is ALL
                    fields.
                  type: array
                  items:
                    type: string
                  maxItems: 100
                search:
                  description: A NQL search filter for constraining the dataset.
                  type: string
      responses:
        '200':
          description: An object which contains response metadata information and a data array of records
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                properties:
                  meta:
                    type: object
                    additionalProperties: false
                    readOnly: true
                    properties:
                      code:
                        description: API response code.  200 ok, 400 you did something wrong.  500 we
                          did something wrong
                        type: integer
                        readOnly: true
                        format: int32
                      count:
                        description: Number of documents retrieved or updated.
                        type: integer
                        readOnly: true
                        format: int32
                  data:
                    description: Result set from API call
                    type: array
                    maxItems: 1000
                    items:
                      oneOf:
                      - description: Event Record
                        type: object
                        additionalProperties: false
                        properties:
                          alerttype:
                            description: Type of alert. Eg start, end, ongoing.
                            type: string
                          algorithm:
                            description: Name of the Detection Model (algorithm) that triggered the alert.
                            type: string
                          categories:
                            description: categories of the alert. Eg security, ddos etc
                            type: array
                            maxItems: 1000
                            items:
                              type: string
                          description:
                            description: Description of the alert
                            type: string
                          dstports: {}
                          duration:
                            description: Time in seconds for the current triggered alert metric.
                            type: integer
                          end:
                            description: End time of the alert.
                            type: integer
                          flowsrcnames:
                            description: Device or Cloud Provider name sending flows
                            type: string
                          id:
                            type: string
                            readOnly: true
                            description: The ID for this alert.
                          ipinfo:
                            description: An array of ip info objects that contains the netography known
                              enrichment data for an ip at the time of the alert
                            type: array
                            maxItems: 1000
                            items:
                              type: object
                              additionalProperties: false
                              properties:
                                as:
                                  description: ASN object that contains the number and org
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    number:
                                      description: AS Number
                                      type: integer
                                    org:
                                      description: AS Org
                                      type: string
                                bogon:
                                  description: Is this IP bogon?
                                  type: boolean
                                count:
                                  description: Number of times this IP has been seen
                                  type: integer
                                firstseen:
                                  description: timestamp of when this IP was first seen by Netography
                                  type: integer
                                geo:
                                  description: geo data for this ip
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    city:
                                      description: Name of the city
                                      type: string
                                    continentcode:
                                      description: Continent code
                                      type: string
                                    countrycode:
                                      description: Country code
                                      type: string
                                    location:
                                      description: Latitude & Longitude Object
                                      type: object
                                      additionalProperties: false
                                      properties:
                                        lat:
                                          description: Latitude
                                          type: number
                                          minimum: -90
                                          maximum: 90
                                        lon:
                                          description: Longitude
                                          type: number
                                          minimum: -180
                                          maximum: 180
                                    postal:
                                      description: Postal code
                                      type: string
                                    subdiso:
                                      description: Name of the subdivision iso code
                                      type: string
                                    subdivisionb:
                                      description: Name of the additional subdivision
                                      type: string
                                ip:
                                  description: IP address this info applies to
                                  type: string
                                iprep:
                                  description: IP Reputation information for this IP
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    categories:
                                      description: The IP reputation categories this IP belongs to.
                                      type: array
                                      maxItems: 1000
                                      items:
                                        type: string
                                    count:
                                      description: Number of IP reputation categories this IP belongs
                                        to
                                      type: integer
                                lastseen:
                                  description: timestamp of when this IP was first seen by Netography
                                  type: integer
                                pdns:
                                  description: Passive DNS information for this IP
                                  type: object
                                  additionalProperties: false
                                  properties:
                                    count:
                                      description: Number of passive DNS records for this IP
                                      type: integer
                                    records:
                                      description: The passive DNS records that were found during the
                                        event duration
                                      type: array
                                      maxItems: 1000
                                      items:
                                        type: string
                                rdns:
                                  description: Reverse DNS for this ip
                                  type: array
                                  maxItems: 1000
                                  items:
                                    type: string
                          ipinfocount:
                            description: number of IPs extend information was fetched on.
                            type: integer
                          metrics:
                            type: object
                            additionalProperties: false
                            properties:
                              bits:
                                type: object
                                additionalProperties: false
                                properties:
                                  min:
                                    description: The minumum value for the current triggered alert metric.
                                    type: integer
                                  max:
                                    description: The maximum value for the current triggered alert metric.
                                    type: integer
                                  avg:
                                    description: The average value for the current triggered alert metric.
                                    type: number
                                  sum:
                                    description: The sum of the values for the current triggered alert
                                      metric.
                                    type: number
                              bitsxrate:
                                type: object
                                additionalProperties: false
                                properties:
                                  min:
                                    description: The minumum value for the current triggered alert metric.
                                    type: integer
                                  max:
                                    description: The maximum value for the current triggered alert metric.
                                    type: integer
                                  avg:
                                    description: The average value for the current triggered alert metric.
                                    type: number
                                  sum:
                                    description: The sum of the values for the current triggered alert
                                      metric.
                                    type: number
                              packets:
                                type: object
                                additionalProperties: false
                                properties:
                                  min:
                                    description: The minumum value for the current triggered alert metric.
                                    type: integer
                                  max:
                                    description: The maximum value for the current triggered alert metric.
                                    type: integer
                                  avg:
                                    description: The average value for the current triggered alert metric.
                                    type: number
                                  sum:
                                    description: The sum of the values for the current triggered alert
                                      metric.
                                    type: number
                              packetsxrate:
                                type: object
                                additionalProperties: false
                                properties:
                                  min:
                                    description: The minumum value for the current triggered alert metric.
                                    type: integer
                                  max:
                                    description: The maximum value for the current triggered alert metric.
                                    type: integer
                                  avg:
                                    description: The average value for the current triggered alert metric.
                                    type: number
                                  sum:
                                    description: The sum of the values for the current triggered alert
                                      metric.
                                    type: number
                          rollupperiod:
                            description: Time in seconds looked back for calculating the alert metric.
                            type: integer
                          rulecount:
                            description: Number of response policies (rules) that fired from this alert
                            type: integer
                          rules:
                            description: Response policies (rules) that fired with this alert
                            type: array
                            maxItems: 1000
                            items:
                              type: string
                          search:
                            description: NQL used
                            type: string
                          severity:
                            description: Severity of the alert.
                            type: string
                          sites:
                            description: The site of the alert.
                            type: string
                          srcports: {}
                          start:
                            description: Start time of the alert.
                            type: integer
                          summary:
                            description: Human readable summary of the alert.
                            type: string
                          tag:
                            description: Tag associated with the alert if applicable
                            type: string
                          tags:
                            description: Tag associated with the alert if applicable
                            type: array
                            maxItems: 1000
                            items:
                              type: string
                          threshold:
                            description: Threshold for this detection model (algorithm)
                            type: string
                          timestamp:
                            description: Unix timestamp for the alert.
                            type: integer
                          track:
                            description: The object string that the detection model (algorithm) uses to
                              track, this can be different than the objectfield value).
                            type: string
                          track_by:
                            description: The field that identifies the object (dstip, flowsrcname, tag,
                              input, output).
                            type: array
                            maxItems: 5
                            items:
                              type: string
                          updateinterval:
                            description: Time in seconds updates are sent out.
                            type: integer
                      - description: Audit Log Record
                        type: object
                        additionalProperties: false
                        properties:
                          action:
                            description: What operation was done to generate the record
                            type: string
                          class:
                            description: The audit class of the record
                            type: string
                          description:
                            description: User summary of the record
                            type: string
                          id:
                            type: string
                            readOnly: true
                            description: The unique ID, as an UUID, of the audit record
                          impersonator:
                            description: The user id of the impersonator of the change
                            type: string
                          new_object:
                            description: The new object subject to the audit record
                            type: object
                          original_id:
                            type: string
                            readOnly: true
                            description: The id of the object subject to the audit record
                          original_object:
                            description: The original object subject to the audit record
                            type: object
                          subclass:
                            description: The audit subclass of the record
                            type: string
                          timestamp:
                            description: Epoch timestamp
                            type: integer
                          user:
                            description: The user id of the user of the change
                            type: string
                      - description: Block Record
                        type: object
                      - description: DNS Record
                        type: object
                        additionalProperties: false
                        properties:
                          accountid:
                            description: Account ID
                            type: string
                          action:
                            description: Action that was taken on this query (cloud only)
                            type: string
                          answercount:
                            description: The number of answers returned
                            type: integer
                          answers:
                            type: array
                            items:
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: the DNS answer type
                                rdata:
                                  type: string
                                  description: the DNS answer rdata
                                class:
                                  type: string
                                  description: the DNS answer class
                          datasrc:
                            description: Device or Cloud Provider name sending dns
                            type: string
                          id:
                            description: The unique ID, as an UUID, of the DNS record
                            type: string
                          instanceid:
                            description: Instance ID
                            type: string
                          internal:
                            description: Is this query name for an internal domain
                            type: boolean
                          label:
                            type: object
                            properties:
                              ip:
                                type: object
                                description: IP labels for all contexts
                              port:
                                type: object
                                description: Port labels for all protocols
                          protocol:
                            description: Protocol of the query
                            type: string
                          provider:
                            description: Is the answer a provider
                            type: boolean
                          providername:
                            description: The name of the provider
                            type: string
                          query:
                            type: object
                            properties:
                              class:
                                description: DNS query class
                                type: string
                              depth:
                                description: DNS query depth
                                type: integer
                              domain:
                                description: DNS query domain
                                type: string
                              host:
                                description: DNS query host
                                type: string
                              name:
                                description: DNS query name
                                type: string
                              publicsuffix:
                                description: DNS query domain under which multiple parties that are unaffiliated
                                  with the operator of the domain may register subdomains
                                type: string
                              tld:
                                description: DNS query tld
                                type: string
                              type:
                                description: DNS query type
                                type: string
                          rcode:
                            description: the DNS rcode
                            type: string
                          region:
                            description: Region
                            type: string
                          rtime:
                            description: The time the record was received
                            type: string
                          site:
[...]
